.label {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.input {
  width: 270px;
  height: 32px;
  background: #dcdcdc;
  border-color: #ffffff;
  border-top: #ffffff;
  border-left: #ffffff;
  border-radius: 10px;
}

.loginbutton {
  width: 180px;
  height: 32px;
  border-radius: 10px;
  background: #67cb67;
  border-color: #67cb67;
  border-bottom: #67cb67;
  border-right: #67cb67;
  color: #ffffff;
}

.loginbutton:hover,
.loginbutton:active,
.loginbutton.active {
  background-color: #5aa65a;
  border-color: #5aa65a;
  border-bottom: #5aa65a;
  border-right: #5aa65a;
  color: white;
}
