.container {
  align-items: center;
  justify-content: center;
}

.title {
  color: #86918c;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 5px;
  margin-top: 10px;
}

.link {
  color: #67cb67;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.link:hover,
.link:active,
.link.active {
  color: #67cb6786;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
