.overviewlabel {
  width: 240px;
  height: 32px;
  text-align: left;
  align-content: left;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(61, 103, 75);
}

.overviewnumber {
  width: 330px;
  height: 48px;
  text-align: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(232, 232, 232);
  border-radius: 30px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(61, 103, 75);
}
