.label {
  width: 240px;
  height: 32px;
  text-align: left;
  align-content: left;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(61, 103, 75);
}

.row {
  align-items: center;
}

.clearbutton {
  width: 160px;
  height: 36px;
  margin-right: 16px;
  border-radius: 30px;
  background: #fc654a;
  border-color: #fc654a;
  border-left: #fc654a;
  border-bottom: #fc654a;
  border-right: #fc654a;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.clearbutton:hover,
.clearbutton:active,
.clearbutton.active {
  background-color: #bd3d27;
  border-color: #bd3d27;
  border-bottom: #bd3d27;
  border-right: #bd3d27;
  color: white;
}

.submitbutton {
  width: 160px;
  height: 36px;
  margin-right: 16px;
  border-radius: 30px;
  background: #67cb67;
  border-color: #67cb67;
  border-left: #67cb67;
  border-bottom: #67cb67;
  border-right: #67cb67;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.submitbutton:hover,
.submitbutton:active,
.submitbutton.active {
  background-color: #5aa65a;
  border-color: #5aa65a;
  border-bottom: #5aa65a;
  border-right: #5aa65a;
  color: white;
}

.entry {
  border-top: 2px solid #ecf6f1;
}

.updatebutton {
  width: 90px;
  height: 36px;
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 30px;
  background: #275b33;
  border-color: #275b33;
  border-left: #275b33;
  border-bottom: #275b33;
  border-right: #275b33;
  border-top: #275b33;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.updatebutton:hover,
.updatebutton:active,
.updatebutton.active {
  background-color: #183b20;
  border-color: #183b20;
  border-bottom: #183b20;
  border-right: #183b20;
  color: white;
}

.deletebutton {
  width: 90px;
  height: 36px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 30px;
  background: #a3a5a3;
  border-color: #a3a5a3;
  border-left: #a3a5a3;
  border-bottom: #a3a5a3;
  border-right: #a3a5a3;
  border-top: #a3a5a3;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(53, 52, 52);
}

.deletebutton:hover,
.deletebutton:active,
.deletebutton.active {
  background-color: #787878;
  border-color: #787878;
  border-bottom: #787878;
  border-right: #787878;
  color: rgb(53, 52, 52);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: rgb(61, 103, 75);
  letter-spacing: 2px;
}
